$def with (theClass)
$var path: &rarr; <a href="/classes/">Classes</a> &rarr; <a href="/classes/$theClass['_id']">$theClass["name"]</a> &rarr; <a href="/classes/$theClass['_id']/invite">Invite</a>
    <h2>Invite Users to $theClass["name"]</h2>
    <p>
        You may enter any number of emails into the form below. Emails will be
        sent to them offering them admittance to the class. If they accept the
        offer (by clicking an embeded link) they will be added to your class.
    </p>
    <form method="post">
        <div>
            <label for="emails">Emails (Comma and/or Whitespace Seperated)</label>
            <textarea name="emails" rows="10" cols="75"></textarea>
        </div>
        <div>
            <input type="submit" value="Invite" />
        </div>
    </form>
