$def with (class_, students, assignments)
$var path: &rarr; <a href="/assignments">assignments</a> &rarr; <a href="/assignments/$assignment['_id']">$class_.name</a>
$var scripts: /static/yui3/yui/yui-min.js /static/tabs.js
    <div class="tabs">
        <div class="tab">
            <h1>Students</h1>
            <div>
                <button>Invite Student(s)...</button>
            </div>
            <form>
                <div class="checkbox_list">
                    $ counter = 0
                    $for i in students:
                        $ counter += 1
                        <div>
                            <input id="student$counter" type="checkbox" name="student" value="$i.email" />
                            <label for="student$counter">$i.email</label>
                        </div>
                </div>
                <div>
                    <input type="submit" value="Remove Selected Students" />
                </div>
            </form>
        </div>
        <div class="tab">
            <h1>Assignments</h1>
            <ul class="simple_assignment_list">
                <ul class="simple_assignment_list">
                    $for i in assignments:
                        <li><a href="#">$i.name</a> due $timeFormat.timeToString(i["due"])</li>
                </ul>
            </ul>
        </div>
        <div class="tab">
            <h1>Change Class Info</h1>
            <form>
                <div>
                    <label for="instructor">Instructors</label>
                    <input id="instructor" type="text" name="instructors" value="$class_.instructors/>
                </div>
                <div>
                    <label for="website">Class Website</label>
                    <input id="website" type="text" name="website" value="$class_.website" />
                </div>
                <input type="submit" value="Save Changes" />
            </form>
        </div>
    </div>
