{% extends "base.html" %}
{% block title %}{{ assignment.name }}{% endblock %}
{% block path %}&rarr; <a href="/assignments">assignments</a> &rarr; <a href="/assignments/{{ assignment.id }}">{{ assignment.name }}</a>{% endblock %}
{% block content %}
    <div class="tab" id="upload_archive">
	<h2>Upload an Archive</h2>
	<div>
	    This is the basic file uploader. The only accepted file types are
	    tar files (<em>.tar</em> and <em>.tar.gz</em>) and zip files
	    (<em>.zip</em>).
	</div>
	<form method="post" action="upload" enctype="multipart/form-data">
	    {{ simple_archive_form.hidden_tag() }}
	    <div style="text-align: center;">
		{{ simple_archive_form.archive(class_ = "simple_file_input") }}
		<input id="submit_archive" type="submit" value="Upload"><br>
		{{ simple_archive_form.marked_for_grading() }} {{ simple_archive_form.marked_for_grading.label }}
	    </div>
	</form>
    </div>
    
    <div id="submissions">
    {% for submission in submissions %}
	<div class="submission">
	    <h3>
		Submission on {{ submission.timestamp_pretty }}
	    </h3>
	    {% if submission.uploaded_filenames %}
	    <div class="uploaded_filenames">
		<ul class="uploaded_filenames">
		{% for i in submission.uploaded_filenames %}
		    <li>{{ i }}</li>
		{% endfor %}
		</ul>
	    </div>
	    {% endif %}
	</div>
    {% endfor %}
    </div>
{% if not submissions %}
    <div>
	(No Submissions Yet)
    </div>
{% endif %}
{% endblock %}
