{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block path %}&rarr; <a href="/login">login</a>{% endblock %}
{% block includes %}
    <script>
        YUI().use("node", function(Y) {
            Y.one("#email").focus()
        })
    </script>
{% endblock %}
{% block content %}
    <div id="login">
        <form method="post" action=".">
            <div class="fields">
            {{ form.hidden_tag() }}
            {{ form.email.label }} {{ form.email() }}
            {{ form.password.label }} {{ form.password() }}
            </div>
            <div class="errors">
            {% for field in form %}
                {% for err in field.errors %}
                <div>{{ err }}</div>
                {% endfor %}
            {% endfor %}
            </div>
            <div class="submit">
                <input class="submit" type="submit" value="Login">
            </div>
        </form>
    </div>
{% endblock %}
