{%- block includes -%}
	<script type="text/javascript" src="/static/typeahead.min.js"></script>
	<script type="text/javascript">
	$(function() {
		$("#studentSearch").typeahead({
			name: "student_submissions",
			local: [
				{%- for i in students %}
					"{{ i.email }}",
				{%- endfor -%}
			],
			limit: 20
		});

		$("#studentSearch").on("typeahead:selected", function() {
			var student = $(this).val();
			// Redirect to student snapshot page.
			window.location.href = "snapshot/" + student;
		});
	});
	</script>
{%- endblock -%}
<div class="stats tab">
	<h2>Overall student progress</h2>
		{%- if assignment.test_harness -%}
			{%- if student_submissions -%}
				<h3 class="students_submitted">
					So far, {{ student_submissions | length }} out of {{ students | length }} students have made a submission for this assignment.
				</h3>
				{% set finals = student_submissions | groupby("test_type") %}
				<h3 class="students_submitted">
					Out of those, {{ finals[0][1] | length }} out of {{ students | length }} students have made their final submission for this assignment.
				</h3>
			{%- else -%}
				There are no submissions for this assignment yet.
			{%- endif -%}
		{%- else -%}
			You cannot view overall progress for an assignment without a test harness. Please use the API Client to upload a test harness so students can get their submissions tested.
		{%- endif -%}
</div>
<div class="stats tab students_submitted">
	<h2>Search for specific students to see their progress in detail</h2>
	<input id="studentSearch" class="typeahead" type="text" />
</div>
