{% extends "base.html" %}
{% block title %}{{ assignment.name }}{% endblock %}
{% block path %}&rarr; <a href="/assignments">monitor assignments</a> &rarr; <a href="/assignments/{{ assignment.id }}">{{ assignment.name }} statistics</a>{% endblock %}
{% block content %}
  <div class="stats tab">
    <h2>Overall student progress</h2>
    {% if assignment.test_harness %}
      {% if submissions %}
	<h3 class="students_submitted">
	  So far, {{ submissions | length }} out of {{ users }} students have made
	  a submission for this assignment.
	</h3>
	{% set finals = submissions | groupby("test_type") %}
	<h3 class="students_submitted">
	  Out of those, {{ finals[0][1] | length }} out of {{ users }} students
	  have made their final submission for this assignment.
	</h3>
      {% else %}
	There are no submissions for this assignment yet.
      {% endif %}
    {% else %}
      You cannot view overall progress for an assignment without a test harness.
      Please use the API Client to upload a test harness so students can get their
      submissions tested.
    {% endif %}
  </div>
  {% if submissions %}
  {% endif %}
  <div class="stats tab">
    <h2>Select an enrolled student below to see their progress in detail.</h2>
    {% for i in submissions %}
       <a href="snapshot/{{ i.user }}/">{{ i.user }}</a>
    {% endfor %}
  </div>
{% endblock %}
