{% macro render_submission_timeline(submissions) %}
  <!-- Dependencies for rendering the chart -->
  <script type="text/javascript" src="/static/date.js"></script>
  <script type="text/javascript" src="/static/jquery.flot.js"></script>
  <script type="text/javascript" src="/static/jquery.flot.crosshair.js"></script>
  <script type="text/javascript" src="/static/jquery.flot.selection.js"></script>
  <script type="text/javascript" src="/static/jquery.flot.stack.js"></script>

  <!-- The chart holder -->
  <div id="chartContainer" class="stats">
    <h2>Submission Scores</h2>
    <p>Select a submission from timeline view to focus on submission details</p>
    <small>Highlight a range to zoom in. Right-click to zoom out</small>
    <small class="right">Click the legend's labels to toggle their data</small>
    <div id="y_axis"></div>
    <div id="chart"></div>
  </div>
  <script type="text/javascript">
    // Start and end time of series data for spacing.
    var start = null;
    var end = null;

    // Populate series with data about student's submissions.
    var seriesData = [ [] ];
    var seriesLabels = ["Total Score"];
    {% for i in submissions | reverse %} 
      // Compute start and end times based on submission times.
      {% if loop.first %}
	start = new Date('{{ i.timestamp }} UTC+0000');
        start.addHours(-6);
      {% elif loop.last %}
	end = new Date('{{ i.timestamp }} UTC+0000');
        end.addHours(6);
      {% endif %}
      {% if i.test_results and i.test_results_obj %} 
	// Push on arrays for subtests if they exist
	if (seriesData.length === 1) {
	  {% for j in i.test_results_obj.tests %}
	    seriesData.push([]);
	    seriesLabels.push("{{ j.name }}");
	  {% endfor %}
	}

        // x is time and y is score.
    	seriesData[0].push([ 
            new Date('{{ i.timestamp }} UTC+0000').getTime(),
	    //{{ i.test_results_obj.score / i.test_results_obj.max_score * 100 }}
	    Math.floor(Math.random() * 100 + 1)
    	]);

	// Add subtest scores.
	{% for j in i.test_results_obj.tests %}
	  seriesData[{{ loop.index }}].push([
	    new Date('{{ i.timestamp }} UTC+0000').getTime(),
	    //{{ j.score / j.max_score * 100 }}
	    Math.floor(Math.random() * 100 + 1)
	  ]);
	{% endfor %}
      {% endif %} 
    {% endfor %} 

    var disabledIndices = [];
    
    // Plot drawing hook to disable certain series.
    function disableSeries(plot, ctx, series) {
	var seriesIndex = plot.getData().indexOf(series);
	if (disabledIndices.indexOf(seriesIndex) !== -1) {
	    series.data = [];
	    series.datapoints.points = [];
	}
    }

    var plotData = [];
    for (i = 0; i < seriesData.length; ++i) {
	plotData.push({
	    data: seriesData[i],
	    label: seriesLabels[i]
	});
    }

    // Setup graphing options
    var options = {
	series: {
	    lines: {
		show: true,
		lineWidth: 3
	    },
	    points: {
		show: true,
		radius: 5
	    }
	},
	crosshair: {
	    mode: "x"
	},
	grid: { 
	    hoverable: true, 
	    clickable: true
	},
	interaction: {
	    redrawOverlayInterval: 5
	},
	selection: {
	    mode: "x"
	},
	legend: {
	    labelFormatter: function(label, series) {
		labelIndex = seriesLabels.indexOf(label);

		if (disabledIndices.indexOf(labelIndex) !== -1) {
		    label = "<span class='disabled'>" + label + "</span>";
		}

		return label;
	    }
	},
	xaxis: {
	    min: start,
	    max: end,
	    mode: "time",
	    timeZone: "America/LosAngeles",
	    tickLength: 5,
	    twelveHourClock: true
	},
	yaxis: {
	    // Some padding room for 0% and 100%
	    min: -10,
	    max: 110
	},
	hooks: {
	    drawSeries: [disableSeries]
	}
    };

    // Logic for disabling certain series on click.
    function updateDisabledSeries(child_index) {
	var index = disabledIndices.indexOf(child_index);

	// Add index if it doesn't exist.
	if (index === -1) {
	    disabledIndices.push(child_index);
	} else {
	    // Delete it if it does.
	    disabledIndices.splice(index, 1);
	}

	// Redraw plot to exclude/include series.
	plot = $.plot($("#chart"), plotData, plot.getOptions());
    }



    // Create plot.
    var plot = $.plot($("#chart"), plotData, options);

    // User can zoom in to section by highlighting.
    $("#chart").bind("plotselected", function (event, ranges) {
	plot = $.plot($("#chart"), plotData,
                      $.extend(true, {}, options,
			       {
				   xaxis: { 
				       min: ranges.xaxis.from,
				       max: ranges.xaxis.to 
				   }
			       }));
    });

    // Capture right click and zoom out to original view.
    $("#chart").bind("contextmenu", function(e) {
	plot = $.plot($("#chart"), plotData, options);
	return false;
    });

   // Logic to display score tooltip on point hover
   function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }

    var previousPoint = null;
    $("#chart").bind("plothover", function (event, pos, item) {
        $("#y").text(pos.y.toFixed(2));

        if (item) {
            if (previousPoint != item.dataIndex) {
                previousPoint = item.dataIndex;
                
                $("#tooltip").remove();
		x = new Date(item.datapoint[0]);
		// Adjust stored datetime from UTC-0800 (LosAngeles) to original
		x.addHours(8);
                y = item.datapoint[1].toFixed(2);
                
                showTooltip(item.pageX, item.pageY,
                            item.series.label + " : " +  y + "<br>"
			    + "Submitted " + x.toString("M/d/yyyy hh:mm tt"));
            }
        }
        else {
            $("#tooltip").remove();
            previousPoint = null;            
        }
    });

    $("#chart .legend tr").live("click", function() {
	updateDisabledSeries($(this).index());
    });

    $("#chart").bind("plotclick", function (event, pos, item) {
	if (item) {
	    time = item.datapoint[0];
	    d = new Date(time);
	    dateString = d.toISOString();
	    element = document.getElementById(dateString);
	    $("body").scrollTop($(element).offset().top);
	}
    });
  </script>
{% endmacro %}
