$def with (assignments, classes)
$var path: &rarr; <a href="/assignments">assignments</a>
$var scripts: http://yui.yahooapis.com/3.5.0/build/yui/yui-min.js /static/classButtons.js
    $code:
        # This plus the script below allows the classButtons.js to do its job
        classMap = {}
        for i in classes:
            cur = classMap[unicode(i["_id"])] = {
                "name": i["name"],
                "with": i["with"]
            }
            
            if "site" in i:
                cur["site"] = i["site"]
    <script>
        classMap = $:json.dumps(classMap)
    </script>
    <div>
        <label for="sortBy">Sort by</label>
        <select name="sortBy">
            <option value="due">Due Date</option>
            <option value="class">Class</option>
        </select>
    </div>
    $code:
        today = datetime.datetime.today()
    <div id="assignment_list">
        $for i in assignments:
            <div class="assignment">
                <div class="title heading"><a class="classButton" href="/classes/$i['class']">$i["className"]</a> <a href="/assignments/$i['_id']">$i["name"]</a></div>
                <div class="due">due $timeformat.timeDistance(today, i["due"]) on $timeformat.timeToString(i["due"])</div>
            </div>
        $if not assignments:
            <div class="assignment">
                (No Assignments Found)
            </div>
    </div>
