$def with (assignment, submissions)
$var path: &rarr; <a href="/assignments">assignments</a> &rarr; <a href="/assignments/$assignment.id">$assignment.name</a>
$var scripts: http://yui.yahooapis.com/3.5.0/build/yui/yui-min.js /static/tabs.js
    <div class="tabs">
        <div class="tab" id="submissions">
            <h1 style="margin-bottom: 0px">Your Submissions</h1>
            <div>
                <label for="sortBy" class="heading">Show</label>
                <select name="sortBy">
                    <option value="due">Most Recent</option>
                    <option value="class">Timeline</option>
                </select>
            </div>
            $for submission in submissions:
                <div class="submission">
                    <h2>
                        Test Submission on $timeformat.timeToString(submission.timestamp)
                        <span class="score">
			    $if submission.testResult:
				$utils.renderScore(submission.testResult)
			    $else:
				PENDING
			</span>
                    </h2>
		    $if submission.testResult and submission.testResult.subTests:
			<div class="action_list">
			    $for i in submission.testResult.subTests:
				<div class="action">
				    <h3>
					$i.name (${utils.renderScore(i)})
				    </h3>
				    $if i.message:
					<div class="message">$:i["messages"]</div>
				    $elif i.messages:
					<ul class="messages">
					    $for j in i.messages:
						<li>$j</li>
					</ul>
				</div>
			</div>
                </div>
            $if not submissions:
                <div class="attention">(No Submissions Found)</div>
	</div>
	<div class="tab" id="assignment_details">
            <h1>Tests</h1>
            $ tests = assignment.tests
            $for i in tests:
                <h2>$i.title</h2>
                <div>$i.description</div>
            $if not tests:
                <div class="attention">(No Test Information Found)</div>
        </div>
	<div class="tab" id="new_submission">
	    <h1>Make New Submission</h1>
	    <form method="post" enctype="multipart/form-data">
		<div>
		    <input type="file" name="new_submission" />
		</div>
		<input type="submit" />
	    </form>
	</div>
    </div>
