$def with (redirectTo, loginForm)
$var path: &rarr; <a href="/login">login</a>
$var scripts: /static/yui3/yui/yui-min.js
    <script>
        YUI().use("node", function(Y) {
            Y.one("#email").focus()
        })
    </script>
    <div id="login" class="modalForm">
        <form method="post" action="/login">
            <input type="hidden" value="$redirectTo" name="redirectTo" />
            <label for="email">$loginForm.email.description</label> $:loginForm.email.render()
            <label for="password">$loginForm.password.description</label> $:loginForm.password.render()
            $if not loginForm.valid:
                <div class="wrong">$loginForm.note</div>
            $:loginForm.submit.render()
        </form>
    </div>
