/* Style Guidelines:
 *     - If selecter has one attribute, all of it goes on one line, otherwise
 *       use multiple with brace on the same line as the selector.
 *     - Each attribute on its own line (always ending with a semicolon).
 *     - The ending brace on a line of its own with no indentation.
 *     - Use comment headings where appropriate.
 *     - Each block must be surrounded by a single blank line on both sides.
 *     - Pixels (px) rather than ems should be used.
 */

#container {
    color: #333;
    font-size: 12pt;
    padding: 0px 100px;
    font-family: Palatino, Georgia, serif;
    min-width: 400px;
}

a { 
    text-decoration: none;
    color: #00C;
}

/* Global Classes */
.heading { font-family: Helvetica, "Helvetica Neue", Arial, sans-serif; }

.attention {
    font-weight: bold;
    font-size: 14pt;
    margin: 10px 0px;
}

/* Top Login Bar */
#topbar > div {
    /*float: right;*/
    display: block;
    margin-left: auto;
    background-color: white;
    border: 1px solid #ccc;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

/* Home */
#home > #navbar > a > .heading {
    font-size: 18pt;
    font-weight: bold;
}

#home > #navbar > a > span {
    display: block;
}

#home > #navbar > a {
    display: block;
    margin: 20px 40px;
    padding: 10px;
    background-color: #E8E8E8;
    border: 1px solid #333;
    text-align: center;
    color: #333;
}

/* Global Header */
#header { font-weight: bold; }

#header > .logo { font-size: 36pt; }

#header > .logo > a { color: #333; }

#header > .path {
    font-size: 14pt;
    text-transform: lowercase;
    word-spacing: 0.1em;
    padding-left: 0.1em;
}

/* Heiarchal Headings */
h1, h2, h3, h4 { font-family: Helvetica, "Helvetica Neue", Arial, sans-serif; }

h1, h2 { border-bottom: 1px solid #CCC; }

h1 {
    font-size: 20pt;
    font-weight: bold;
}

h2 {
    font-size: 16pt;
    font-weight: normal;
}

h3 {
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Assignments Page */
#assignments > div { margin: 20px 0px; }

#assignments .title {
    font-size: 14pt;
    font-weight: bold;
    border-bottom: 1px solid #CCC;
    margin-bottom: 5px;
}

#assignments .class_name {
    font-weight: normal;
    padding: 1px 1px 2px 1px;
    font-size: 75%;
    border: 1px solid #CCC;
    border-width: 1px 1px 0px 1px;
    color: #333;
    background-color: white;
}

/* Login Page */
#login {
    border: 1px solid #ccc;
    padding: 16px;
    background-color: white;
    width: 320px;
    
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#login .errors > div {
    color: #c00;
}

#login .fields > label {
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    margin: 0px 0px 3px 0px;
    cursor: pointer;
    display: block;
}

#login .fields > input {
    border: 1px solid #333;
    background-color: #F3F3F3;
    margin-bottom: 15px;
    padding: 0.2em;
    font-size: 14pt;
    width: 312px;
}

#login .submit { text-align: center; }

#login .submit > input {
    width: 275px;
    height: 33px;
}

/* Background Gradient */
body 
{
    /* Gradient*/
    /* IE10 */ 
    background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #D9EBFF 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #D9EBFF 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top left, #FFFFFF 0%, #D9EBFF 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #D9EBFF));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #D9EBFF 100%);

    /* Proposed W3C Markup */ 
    background-image: linear-gradient(top left, #FFFFFF 0%, #D9EBFF 100%);
}
