{% extends "base.html" %}
{% block title %}Assignments{% endblock %}
{% block path %}&rarr; <a href="/assignments">assignments</a>{% endblock %}
{% block content %}
    <div id="assignments">
    {% for i in assignments %} 
        <div>
            <div class="title heading">
                <span class="class_name">{{ i.class_name}}</span> <a href="/assignments/{{ i.id }}">{{ i.name }}</a>
            </div>
            <div class="due">due {{ i.due_pretty }}</div>
        </div>
    {% endfor %}
    {% if not assignments %}
        <div class="assignment">
            (No Assignments Found)
        </div>
    {% endif %}
    </div>
{% endblock %}
