{% extends "base.html" %}
{% block title %}Assignments{% endblock %}
{% block path %}&rarr; <a href="/assignments">assignments</a>{% endblock %}
{% block content %}
    <div id="assignments">
    {% for i in assignments %} 
        <div>
            <div class="title heading">
                <span class="class_name">{{ i.class_name}}</span> <a href="/assignments/{{ i.id }}">{{ i.name }}</a>
            </div>
            <div class="due">
                due {{ i.due_pretty }} {% if i.due_cutoff_pretty %}(cutoff {{ i.due_cutoff_pretty }}){% endif %}
            </div>
        </div>
    {% endfor %}
    {% if not assignments %}
        <div class="assignment">
            You do not have, and have never had, any assignments due.
        </div>
    {% endif %}
    </div>
{% endblock %}
