{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block path %}&rarr; <a href="/login">login</a>{% endblock %}
{% block includes %}
    <script>
        YUI().use("node", function(Y) {
            Y.one("#email").focus()
        })
    </script>
{% endblock %}
{% block content %}
    <div id="login">
        <form method="post" action=".">
            <div class="fields">
            {{ form.hidden_tag() }}
            <div class="heading">
                {{ form.email.label }}
                {% if form.email.errors %}
                <span class="error">({{ form.email.errors[0] }})</span>
                {% endif %}
            </div>
            {{ form.email() }}
            <div class="heading">
                {{ form.password.label }}
                {% if form.password.errors %}
                <span class="error">({{ form.password.errors[0] }})</span>
                {% endif %}
            </div>
            {{ form.password() }}
            </div>
            <div class="submit">
                <input class="submit" type="submit" value="Login">
            </div>
        </form>
    </div>
{% endblock %}
